html {
    min-height: 100%;
}

body {
    background: linear-gradient(to right, #005aa7, #fffde4);
}

h1 {
    margin-bottom: 80px;
}

.container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    min-height: 500px;
    
}
